body{
    background-color: beige;
    text-align: center;
}
form fieldset{
    background-image: url('https://i.pinimg.com/originals/98/1b/2d/981b2dc53c70dcd6de96bfce0855d13f.jpg');
}
form fieldset legend{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
h3{
    border: 3px dotted black;
}